.wiggle {
  animation: wiggle-anim 2s ease-in-out infinite;
}

@keyframes wiggle-anim {
  0% {
    transform: translatey(-1px);
  }
  50% {
    transform: translatey(1px);
  }
  100% {
    transform: translatey(-1px);
  }
}
